<section class="header1 cid-s7QASohrZl" id="header16-13">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">Formulario de la mascota
                </h1>
            </div>
        </div>
    </div>
</section>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main-container">
        <div class="row ">
            <div class="col">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
            </div>
            <div class="col">
                <label>Raza</label>
                <input type="text" class="form-control" placeholder="Raza" formControlName="race">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Peso(Kg)</label>
                <input type="number" class="form-control" placeholder="Peso" formControlName="weight">
            </div>
            <div class="col">
                <label>Fecha de nacimiento</label>
                <input type="date" class="form-control" placeholder="Fecha de nacimiento" formControlName="birthdate">
            </div>
        </div>

        <div class="row ">
            <div class="col">
                <label>Tipo de mascota</label>
                <select class="form-control form-select" formControlName="type_pet">
                    <option value="" selected>Seleccionar el tipo</option>
                    <option value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>
        <div class="container-button">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </div>
</form>