<section class="cid-s7K4Tp8Ka4" id="footer">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <span class="mbr-iconfont mbri-globe"
                        style="color: rgb(45, 169, 108); fill: rgb(45, 169, 108); font-size: 60px;"></span>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Dirección
                </h5>
                <p class="mbr-text">
                    <br>Ciudad Armenia, calle 12345
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: carepet@gmail.com
                    <br>Teléfono: +1 (0) 345 5675 451
                    <br>Fax: +1 (0) 456 5677 002
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">© Copyright 2019 web design vista - All Rights
                        Reserved</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="/#section1" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="/#section1" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="/#section1" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-pinterest socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>