<section class="menu cid-s7IwizF018" once="menu" id="menu2-0">
    <nav
        class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">

                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" routerLink="/">
                        {{app_name}}</a></span>
            </div>

        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item" *ngIf="!login">
                    <a class="nav-link link text-black display-4" routerLink="/user/register">Registrarse</a>
                </li>
                <li class="nav-item dropdown" *ngIf="login">
                    <a class="nav-link  link text-black display-4 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown-submenu" aria-haspopup="true" aria-expanded="true">
                        Mascota
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/pet/register">Registrar</a>
                        <a class="dropdown-item" routerLink="/pet/consult">Consultar</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="login">
                    <a class="nav-link  link text-black display-4 dropdown-toggle" href="#" id="navbarDropdownCita" role="button"
                        data-toggle="dropdown-submenu" aria-haspopup="true" aria-expanded="true">
                        Cita
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCita">
                        <a class="dropdown-item" routerLink="/appointment/register">Registrar</a>
                        <a class="dropdown-item" routerLink="/appointment/consult">Consultar</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="login">
                    <a class="nav-link  link text-black display-4 dropdown-toggle" href="#" id="navbarDropdownHistorial" role="button"
                        data-toggle="dropdown-submenu" aria-haspopup="true" aria-expanded="true">
                        Historial clinico
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownHistorial">
                        <a class="dropdown-item"  routerLink="/clinical/history">Registrar</a>
                        <a class="dropdown-item" routerLink="/medicalHistory/consult">Consultar</a>
                    </div>
                </li>

                <li class="nav-item" *ngIf="login"><a class="nav-link link text-black display-4"
                        routerLink="/">Perfil</a></li>
                <li class="nav-item" *ngIf="login"><a class="nav-link link text-black display-4"
                        (click)="showSignOff()">Cerrar sesión</a></li>
                <li class="nav-item" *ngIf="!login">
                    <a class="nav-link link text-black display-4" (click)="showLogin()">Iniciar sesión</a>
                </li>
            </ul>

        </div>
    </nav>
</section>

<main class="mt-5">
</main>