.navbar{
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-dark .navbar-nav .nav-link{
    color: #FFFFFF;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #EEEEEE;
}