<mat-dialog-content class="dialog-content">
    <mat-card class="formCard">
        <div class="elementsformCard">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="main-container">
                    <h1 class="d-flex justify-content-center">Modificar cita</h1>
                    <div class="row ">
                        <div class="col">
                            <label>Fecha cita</label>
                            <input type="date" class="form-control" placeholder="Fecha" formControlName="date">
                        </div>
                        <div class="col">
                            <label>Hora</label>
                            <input type="time" class="form-control" placeholder="Hora" formControlName="hour">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Mascota</label>
                            <select class="form-control" formControlName="pet_id">
                                <option [value]="item.id" *ngFor="let item of pets">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="container-button buttonsModify">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                        <button type="button" class="btn btn-secondary" (click)=cancelModify()>Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</mat-dialog-content>