.main-container{
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}
.form-control{
    margin-bottom:20px ;
}

.main-container button{
    width: 60%;
}
.container-button{
    text-align: center;
}