<mat-dialog-content class="dialog-content">
    <mat-card class="formCard">
        <div class="elementsformCard">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="main-container">
                    <h1 class="d-flex justify-content-center">Editar mascota</h1>
                    <div class="row ">
                        <div class="col">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                        </div>
                        <div class="col">
                            <label>Raza</label>
                            <input type="text" class="form-control" placeholder="Raza" formControlName="race">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Peso(Kg)</label>
                            <input type="number" class="form-control" placeholder="Peso" formControlName="weight">
                        </div>
                        <div class="col">
                            <label>Fecha de nacimiento</label>
                            <input type="date" class="form-control" placeholder="Fecha de nacimiento"
                                formControlName="birthdate">
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col">
                            <select class="form-control form-select" formControlName="type_pet">
                                <option value="Perro">Perro</option>
                                <option value="Gato">Gato</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>
                    <div class="container-button buttonsModify">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                        <button type="button" class="btn btn-secondary" (click)=cancelModify()>Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</mat-dialog-content>