.main-container{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.form-control{
    margin-bottom:20px ;
}

.main-container button{
    width: 40%;
}
.container-button{
    text-align: center;
}

.buttonsModify{
    display: flex;
    justify-content: space-between;
}