<section class="header1 cid-s7QASohrZl" id="header16-13">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">Formulario de Cita
                </h1>
            </div>
        </div>
    </div>
</section>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main-container">
        <h1 class="d-flex justify-content-center">Formulario de Cita</h1>
        <div class="row ">
            <div class="col">
                <label>Fecha cita</label>
                <input type="date" class="form-control" placeholder="Fecha" formControlName="date">
            </div>
            <div class="col">
                <label>Hora</label>
                <input type="time" class="form-control" placeholder="Hora" formControlName="hour">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Mascota</label>
                <select class="form-control" formControlName="pet_id" ngModel="seleccionado">
                    <option [value]="item.id" *ngFor="let item of pets">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="container-button">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </div>
</form>