<section class="header1 cid-s7QASohrZl" id="header16-13">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">Consultar Mascota
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section-table mb-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Peso</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Tipo de mascota</th>
            </tr>
        </thead>
        <tbody class="tableBody">
            <tr class="bodyRow" *ngFor="let pet of pets; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{pet.name}}</td>
                <td>{{pet.race}}</td>
                <td>{{pet.weight}}</td>
                <td>{{pet.birthdate}}</td>
                <td>{{pet.type_pet}}</td>
                <td>
                    <button mat-icon-button color="primary" (click)="onEditPet(pet)">
                        <mat-icon>update</mat-icon>
                    </button>
                    <button mat-icon-button color="warn"  (click)="onDeletePet(pet)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>