<section id="register" class="pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-5 mx-auto">
                <div class="card_register">
                        <div class=" text-center">
                            <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
                                <h1 class="h3 mb-3 font-weight-normal">Registrar usuario</h1>
                                <div class="form-group mb-3">
                                    <input type="number" class="form-control" formControlName="id" name="id" placeholder="Número de identificación" required>
                                    <div *ngIf="form.get('id')?.errors && form.get('id')?.dirty">
                                        <span *ngIf="form.get('id')?.hasError('required')">Este campo es requerido</span>
                                        <span *ngIf="form.get('id')?.hasError('min')">Este campo debe tener mínimo 8 caracteres</span>
                                        <span *ngIf="form.get('id')?.hasError('max')">Este campo debe tener máximo 10 caracteres</span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" formControlName="name" name="name" placeholder="Nombre(s)" required>
                                    <div *ngIf="form.get('name')?.errors && form.get('name')?.dirty">
                                        <span *ngIf="form.get('name')?.hasError('required')">Este campo es requerido</span>
                                        <span *ngIf="form.get('name')?.hasError('minlength')">Este campo debe tener mínimo 1 caracter</span>
                                        <span *ngIf="form.get('name')?.hasError('maxlength')">Este campo debe tener máximo 50 caracteres</span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" formControlName="lastname" name="lastname" placeholder="Apellido(s)" required>
                                    <div *ngIf="form.get('lastname')?.errors && form.get('lastname')?.dirty">
                                        <span *ngIf="form.get('lastname')?.hasError('required')">Este campo es requerido</span>
                                        <span *ngIf="form.get('lastname')?.hasError('minlength')">Este campo debe tener mínimo 1 caracter</span>
                                        <span *ngIf="form.get('lastname')?.hasError('maxlength')">Este campo debe tener máximo 50 caracteres</span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" formControlName="address" name="address" placeholder="Dirección de residencia" required>
                                    <div *ngIf="form.get('address')?.errors && form.get('address')?.dirty">
                                        <span *ngIf="form.get('address')?.hasError('required')">Este campo es requerido</span>
                                        <span *ngIf="form.get('address')?.hasError('minlength')">Este campo debe tener mínimo 1 caracter</span>
                                        <span *ngIf="form.get('address')?.hasError('maxlength')">Este campo debe tener máximo 100 caracteres</span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="email" class="form-control" formControlName="email" name="email" placeholder="Correo electrónico" required>
                                    <div *ngIf="form.get('email')?.errors && form.get('email')?.dirty">
                                        <span *ngIf="form.get('email')?.hasError('required')">Este campo es requerido</span>
                                        <span *ngIf="form.get('email')?.hasError('email')">Este campo debe ser de tipo email (Ej:nombre@gmail.com)</span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="number" class="form-control" formControlName="cellphone" name="cellphone" placeholder="Número de celular" required>
                                    <div *ngIf="form.get('cellphone')?.errors && form.get('cellphone')?.dirty">
                                        <span *ngIf="form.get('cellphone')?.hasError('required')">Este campo es requerido</span>
                                        <span *ngIf="form.get('cellphone')?.hasError('min')">Este campo debe tener mínimo 10 caracteres</span>
                                        <span *ngIf="form.get('cellphone')?.hasError('max')">Este campo debe tener máximo 10 caracteres</span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group">
                                        <input id="txtPassword" [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Ingrese la contraseña" formControlName="password">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" (click)="hide = !hide">
                                                <span class="fa fa-eye-slash icon" *ngIf="hide"></span>
                                                <span class="fa fa-eye icon" *ngIf="!hide"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="form.get('password')?.errors && form.get('password')?.dirty">
                                        <span *ngIf="form.get('password')?.hasError('required')">Este campo es requerido</span>
                                        <span *ngIf="form.get('password')?.hasError('minlength')">Este campo debe tener mínimo 8 caracteres</span>
                                        <span *ngIf="form.get('password')?.hasError('maxlength')">Este campo debe tener máximo 15 caracteres</span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Registrar</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>