<div class="elementsCard">
    <h1 mat-dialog-title>Iniciar sesión</h1>
    <div mat-dialog-content class="dialogLogin">
        <form [formGroup]="form" class="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
                <label for="">Email</label>
                <!-- <input type="email" class="form-control" formControlName="email" name="email" placeholder="" required> -->
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Ingrese el email" aria-label="email"
                    formControlName="email" aria-describedby="addon-wrapping" required>
                    <span class="input-group-text" id="addon-wrapping">@</span>
                </div>
                <div *ngIf="form.get('email')?.errors && form.get('email')?.dirty">
                    <span *ngIf="form.get('email')?.hasError('required')">Este campo es requerido</span>
                    <span *ngIf="form.get('email')?.hasError('email')">Este campo debe ser de tipo email
                        (Ej:nombre@gmail.com)</span>
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="">Contraseña</label>
                <div class="input-group">
                    <input id="txtPassword" [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Ingrese la contraseña" formControlName="password">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" (click)="hide = !hide">
                            <span class="fa fa-eye-slash icon" *ngIf="hide"></span>
                            <span class="fa fa-eye icon" *ngIf="!hide"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="form.get('password')?.errors && form.get('password')?.dirty">
                <span *ngIf="form.get('password')?.hasError('required')">Este campo es requerido</span>
                <span *ngIf="form.get('password')?.hasError('minlength')">Este campo debe tener mínimo 8
                    caracteres</span>
                <span *ngIf="form.get('password')?.hasError('maxlength')">Este campo debe tener máximo 15
                    caracteres</span>
            </div>
            <div class="buttonsLogin">
                <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>