<section class="cid-s7IyAyrQBr mbr-fullscreen mbr-parallax-background" id="header2-1">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center" id="section1">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style ">
                    LA SALUD DE TUS MASCOTAS ES PRIMORDIAL ¡CUÍDALAS!
                </h1>

                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-primary display-4"
                        href="/#services">Nuestros Servicios</a>

                    <a class="btn btn-md btn-danger display-4" href="#images">Galeria</a> 

                    <a class="btn btn-md btn-secondary display-4" href="/#footer">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#services">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="counters1 counters cid-s7IDltMZfV" id="services">

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Nuestros servicios</h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
            En esta sección encontraras todo lo que ofrecemos...</h3>

        <div class="container pt-4 mt-2">
            <div class="media-container-row">
                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <img
                            src="https://img.icons8.com/external-wanicon-two-tone-wanicon/64/000000/external-veterinary-university-courses-wanicon-two-tone-wanicon.png" />
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                Citas Médicas</h3>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Carepet cuenta con médicos veterinarios expertos en diferentes disciplinas y con la
                                metodología necesaria para llegar a los diagnósticos que permitirán enfocar los
                                tratamientos de manera eficiente y oportuna</p>
                        </div>
                    </div>
                </div>


                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <img src="https://img.icons8.com/external-inipagistudio-lineal-color-inipagistudio/64/000000/external-grooming-pet-lover-inipagistudio-lineal-color-inipagistudio.png"/>
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                Estética</h3><br><br><br><br>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                La estética de tu mascota es importante
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <img src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/000000/external-dog-zoology-icongeek26-linear-colour-icongeek26.png"/>
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                Medicina Interna</h3>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Engloba el estudio y tratamiento de todas las enfermedades
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counters1 counters cid-s7IDltMZfV" id="images">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(85, 180, 212);">
    </div>
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Galeria de Imágenes</h2>

        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="https://www.promedco.com/images/NOTICIAS_2020/reducir-estres-de-mascotas-1.jpg" alt="Mobirise" title="">
                    </div><br>
                    <div class="card-img">
                        <img src="https://img.lalr.co/cms/2019/09/11090627/102438524_xl1.jpg" alt="Mobirise" title="">
                    </div>
                    
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="https://img.grouponcdn.com/bynder/pA9MbRiFHhGNub9ZdrJQsovq6cA/pA-2048x1229/v1/t600x362.jpg" alt="Mobirise" title=""/> 
                    </div><br>

                    <div class="card-img">
                        <img src="https://hotelparaperroscr.com/wp-content/uploads/2021/06/hospedaje-canino.png" alt="Mobirise" title=""/>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="https://www.eluniversal.com.mx/sites/default/files/2018/12/14/facebook_prohibe_vender_mascotas.jpg" alt="Mobirise" title="">
                    </div><br><br>

                    <div class="card-img">
                        <img src="http://cdn.shopify.com/s/files/1/0268/6861/files/Perros-vs-Gatos2_grande.jpg?v=1587405310" alt="Mobirise" title="">
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>