<section class="header1 cid-s7QASohrZl" id="header16-13">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">Consultar Citas
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section-table mb-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Mascota</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody class="tableBody">
            <tr class="bodyRow" *ngFor="let medical of medicals; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{medical.name}}</td>
                <td>{{medical.date}}</td>
                <td>{{medical.hour}}</td>
                <td>{{medical.state}}</td>
                <td>
                    <div *ngIf="medical.state=='Asignada'">
                        <button mat-icon-button color="primary" (click)="onEditAppointment(medical)">
                            <mat-icon>update</mat-icon>
                        </button>
                        <button mat-icon-button color="warn"  (click)="onCancelAppointment(medical)">
                            <mat-icon>highlight_off</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>