<section class="header1 cid-s7QASohrZl" id="header16-13">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-1 mbr-fonts-style display-1">Consultar Historial Clinico
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section-table mb-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre veterinario</th>
                <th scope="col">descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">nombre de la mascota</th>
            </tr>
        </thead>
        <tbody class="tableBody">
            <tr class="bodyRow" *ngFor="let medHistory of medicalHistories; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{medHistory.name_vet}}</td>
                <td>{{medHistory.description}}</td>
                <td>{{medHistory.date}}</td>
                <td>{{medHistory.name}}</td>
                <td>
                    <button mat-icon-button color="primary">
                        <mat-icon>update</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>